/*
font-family: 'Indie Flower', cursive;
font-family: 'Pangolin', cursive;
font-family: 'Satisfy', cursive;
*/

#tipo1{font-family: 'Indie Flower', cursive; font-size: 2em;}
#tipo2{font-family: 'Pangolin', cursive; font-size: 2em;}
#tipo3{font-family: 'Satisfy', cursive; font-size: 2em;}

#tarjeta{
    width: 22%;
    height: auto;
    min-height: 447px;
    display: none;
    margin: 80px auto;
    background-color: #89c4b3;
    border:2px dashed #fff;
    padding:20px 5%;
    border-radius: 50px;
    text-align: center;    
}


/*SELECTOR UNIVERSAL*/
* {margin:0; padding:0;}

body{
    font:12px ;   
    font-family: 'Raleway', sans-serif;
    background-color: #e8daeb;    
   /* white-space: pre-wrap;    */
}

#contenido{
    width: 40%;
    margin: 80px auto;
    background-color: #89c4b3;
    border:8px solid #fff;
    padding:20px 3%;
    border-radius: 50px;    
}

h1{
    font-size: 25px;
    text-align: center;
    padding: 0 0 10px;
    color: #f5ef7d;
   /* border-bottom: 1px solid #ddd;*/
}

h2{
    font-size: 18px;
    padding: 10px 0;
    color: #f2f2f2;
}

/*MENU ICONOS*/
.menuIcon{
    width: 25%;
    height: auto;
    float: left;
    margin: auto 0;
}

#centro{
    margin: 0 12.5%;
}

.linea{
    width: 500px;    
}